.latestBlogContainer {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  user-select: none;
}

.postList {
  list-style: none;
  padding: 0;
}

.postItem {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px #1395ec5d;
  transition: transform 0.2s;
}

.postItem:last-child {
  margin-bottom: 0;
}

.postDescription {
  font-size: 1rem;
  opacity: 0.9;
}

.postItem:hover {
  transform: translateY(-5px);
}

.postLink {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1395ec;
  text-decoration: none;
}

.postLink:hover {
  text-decoration: underline;
}

.postDate, .postCategory {
  font-size: 0.9rem;
}
.postCategory {
  background-color: #1395eca2;
  width: 15%;
  padding: 2px 8px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  text-decoration: none;
}
.postCategory:hover {
  text-decoration: none;
  background-color: #1395eca2;
}

.newBadge {
  display: inline-block;
  background-color: #ff4757;
  color: #fff;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
  margin-left: 10px;
}

.noPostsMessage {
  text-align: center;
  color: #bd0000;
}